---
import { profileConfig, siteConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <!-- <img id="run-time-badge" alt="Run Time" /> -->
    <!-- <br> -->
    <div class="transition text-50 text-sm text-center">
        <!-- &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}. All Rights Reserved. / -->
        Copyright &copy; 2019 - <span id="copyright-year">{currentYear}</span> <a class="transition link text-[var(--primary)] font-medium" href={Astro.site}>{siteConfig.title}</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> /
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>Sitemap</a><br>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/yyhhkya/fuwari">Fuwari 二开版</a><br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://beian.miit.gov.cn/">粤ICP备2025491914号</a> | 
        <a class="transition link text-[var(--primary)] font-medium" href="https://beian.mps.gov.cn/#/query/webSearch?code=44195502000155" rel="noreferrer" target="_blank">粤公网安备44195502000155号</a><br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://icp.gov.moe/?keyword=20251971">萌ICP备20251971号</a> | 
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://icp.sakura.ink/beian?code=1907010000">樱ICP备1907010000号</a><br>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://www.foreverblog.cn/blog/7084/cert.html">本站已加入十年之约</a>
    </div>
</div>